body { background: #cac0d3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-uploader-0 { color: #dcb266; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #103c14; font-size: 12px; margin-bottom: 5px; }
.block-cache-2 { color: #2da251; font-size: 21px; margin-bottom: 5px; }
.block-filter-3 { color: #def1a6; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #64fcef; font-size: 20px; margin-bottom: 5px; }
.block-validator-5 { color: #150388; font-size: 19px; margin-bottom: 5px; }
.block-email-6 { color: #e60558; font-size: 21px; margin-bottom: 5px; }
.block-uploader-7 { color: #6f2304; font-size: 14px; margin-bottom: 5px; }
.block-search-8 { color: #b8ce95; font-size: 16px; margin-bottom: 5px; }
.block-search-9 { color: #306835; font-size: 19px; margin-bottom: 5px; }